<!DOCTYPE html>
<html>
<head>
  <title>日程調整サイト</title>
  <%= stylesheet_link_tag 'application', media:'all', 'data-turbolinks-track'=>true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track'=>true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>日程調整サイト</h1>
  <div  class="big">
    <div class="small">
      <!--
      ルートからと同じパスからのページ参照があるせいでフォーム先のページを
      条件分岐する必要がある際に以下のコマンドで現在のパスを得る
      url を表示=> request.url
      path => request.fullpath
      クエリ文字列なしのpath => request.path_info
      -->
      <%=form_tag("confirm", name:"vote")  do %>
      <!-- <input type="text" name="name"> -->
      <p>名前：<%= text_field_tag :name %></p>

      <table border="1">
        <tr>
          <td>日\時</td>
          <% @hour.each do |h| %>
          <td><%=h %></td>
          <% end %>
          <td>全時間を選択</td>
        </tr>
        <% @day.each do |d| %>
        <tr>
          <td><%=d %></td>
          <% @hour.each do |h| %>
          <td>
            <% uniq="#{d}-#{h}" %>
            <%# <%=uniq %>
            <%=check_box "checklist", uniq, {:class => d} %>
          </td>
          <% end %>
          <td>
            <%# <%=button_to "#{d}の全時間を選択" %>
            <!-- <input type="button" value="#{d}の全時間を選択" > -->
            <%= button_tag "#{d}の全時間を選択", type:'button', onclick: "check('#{d}',true)" %>
            <%= button_tag "解除", type:'button', onclick: "check('#{d}',false)" %>
          </td>
        </tr>
        <% end %>
      </table>
      <br />
      <%= button_tag "全選択", type:'button', onclick: "allcheck(true)" %>
      <%= button_tag "全解除", type:'button', onclick: "allcheck(false)" %>
      <input type="submit" value="投票">
      <% end %>
    </div>
  </div>
  <div class="under">
    <p class="copyright">&#169;2019 Shumaikun</p>
  </div>
</body>
</html>
